<component name="ArtifactManager">
  <artifact type="war" name="Server">
    <output-path>$PROJECT_DIR$/out/artifacts/Server</output-path>
    <root id="archive" name="Server.war">
      <element id="javaee-facet-resources" facet="it.polito.it_AI.server/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="it.polito.it_AI.server" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: com.fasterxml.jackson.core:jackson-databind:2.9.0" />
          <element id="library" level="project" name="Maven: com.fasterxml.jackson.core:jackson-annotations:2.9.0" />
          <element id="library" level="project" name="Maven: com.fasterxml.jackson.core:jackson-core:2.9.0" />
          <element id="library" level="project" name="Maven: javax.ws.rs:javax.ws.rs-api:2.0" />
        </element>
      </element>
      <element id="dir-copy" path="$PROJECT_DIR$/Server/src/main/webapp/WEB-INF" />
    </root>
  </artifact>
</component>